# Backend Framework
fastapi
uvicorn
python-dotenv

# LangChain + Agents
langchain-core
langchain-openai
langgraph

# LLM Providers
groq

# Utilities
pydantic
requests

# Databases
pymongo
mysql-connector-python

# PDF Generation
reportlab
