/* RESET EVERYTHING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REMOVE PAGE SCROLL COMPLETELY */
html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  background: #0f0f12;
  font-family: sans-serif;
}

/* ROOT APP WRAPPER */
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
